<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset = 'UTF-8'>
  <title>{{ page.number }}</title>
</head>
<body>
  {% for q in list_questions %}
    <h1>{{q.title }}</h1>
    <a href="/question/{{ q.id }}/">question {{ q.id }}, rating {{ q.rating }}</a>
    <hr>
  {% endfor %}

  <nav><ul class="pagination">
  {% for p in paginator.page_range %}
    {% if p == page.number %}
    <li class="active">
    {% else %}
    <li>
    {% endif %}
      <a href="{{ paginator.baseurl }}{{ p }}">{{ p }}</a>
    </li>
  {% endfor %}
  </ul></nav>
</body>
</html>