<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset = 'UTF-8'>
  <title>{{ question }}</title>
</head>
<body>
  <h1>{{question.title}}</h1>
  <div>{{question.text}}</div>
  <hr>
  <h2>Answers</h2>
  {% for ans in answer %}
    <h3>{{ans.text}}</h3>
  {% endfor %}

  {% for e in form.non_field_errors %}
    <div> class="alert alert-danger">{{ e }}</div>
  {% endfor %}
  <form class="form-horizontal" method="POST" action="{{ question.get_url }}">
    {% 	csrf_token %}
    <fieldset>
      {% for field in form %}
        <div class="control-group{% if field.errors %}has-error{% endif %}">
          <label class="control-label">{{ field.label }}</label>
          <div class="controls">{{ field }}</div>
        </div>
      {% endfor %}
    </fieldset>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form> 
</body>
</html>
